@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Roboto:300,400,500,700&display=swap");

/*---------------------------------------------------- */
:root {
  --black-color: #000;
  --white-color: #fff;
  --blue-color: #10b3d6;
  --body-color: #6b707f;
  --title-color: #1d2746;
  --footer-color: #fafcfd;
  --back-to-top-btn-color: #dcdcdccc;
  --back-to-top-btn-hover-color: #333;
  --back-to-top-btn-active-color: #555;
  --nav-border-color: #e6eeef;
  --nav-shadow-color: #0449591a;
  --nav-submenu-color: #4464a1;
}

/*---------------------------------------------------- */
html {
  height: 100%;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
  color: var(--blue-color);
}
body {
  line-height: 26px;
  font-size: 16px;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--body-color);
}
:focus {
  outline: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
}
/** === Predefined Global Classes === **/
.h1 {
  font-size: 50px;
}
.h2 {
  font-size: 44px;
}
.h3 {
  font-size: 36px;
}
.h4 {
  font-size: 30px;
}
.h5 {
  font-size: 24px;
}
.h6 {
  font-size: 18px;
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
button:focus {
  outline: none;
}
/** === Container === **/
.body_wrapper {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }
}
.c_head {
  font-size: 20px;
  line-height: 26px;
}
.bg_color {
  background: var(--footer-color);
}
/** === Scrollbar === **/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 30px;
}
/** === Back to Top Button === **/
#back-to-top {
  display: inline-block;
  background-color: var(--back-to-top-btn-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "2";
  font-family: eleganticons;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--black-color);
}
#back-to-top:hover {
  cursor: pointer;
  background-color: var(--back-to-top-btn-hover-color);
}
#back-to-top:hover::after {
  color: var(--white-color);
}
#back-to-top:active {
  background-color: var(--back-to-top-btn-active-color);
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
.search-focused .click_capture {
  opacity: 1;
  visibility: visible;
}
.search-focused .banner_search_form {
  position: relative;
  z-index: 999 !important;
}
/*---------------------------------------------------- */

/*================= header area css ===============*/
.navbar {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  position: absolute;
}
.menu_one {
  background: transparent;
  transition: all 0.2s linear;
}
.sticky_logo img + img {
  display: none;
}
.menu > .nav-item {
  padding-bottom: 37px;
  padding-top: 37px;
  transition: all 0.3s linear;
}
.menu > .nav-item > .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: var(--white-color);
  padding: 0;
}
.menu > .nav-item > .nav-link:after {
  display: none;
}
.menu > .nav-item.submenu .dropdown-menu {
  margin: 0;
  border-radius: 4px;
  left: -38px;
  min-width: max-content;
  border: 1px solid var(--nav-border-color);
  background: var(--white-color);
  padding: 20px 0;
  box-shadow: 0 30px 40px 0 var(--nav-shadow-color);
}
.menu > .nav-item.submenu .dropdown-menu:before {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--white-color);
  position: absolute;
  top: -6px;
  transform: rotate(45deg);
  left: 40px;
  border-left: 1px solid var(--nav-border-color);
  border-top: 1px solid var(--nav-border-color);
}
@media (min-width: 992px) {
  .menu > .nav-item.submenu .dropdown-menu {
    transform: translateY(20px);
    transition: all 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
    display: block;
  }
}
.menu > .nav-item.submenu .dropdown-menu.dropdown_menu_two .nav-item {
  padding: 0 30px;
}
.menu > .nav-item.submenu .dropdown-menu.dropdown_menu_two .nav-item + .nav-item {
  margin-top: 8px;
}
.menu > .nav-item.submenu .dropdown-menu.dropdown_menu_two .nav-item .nav-link {
  display: flex;
  align-items: center;
}
.menu > .nav-item.submenu .dropdown-menu.dropdown_menu_two .nav-item .nav-link:before {
  display: none;
}
.menu > .nav-item.submenu .dropdown-menu.dropdown_menu_two .nav-item .nav-link img {
  margin-right: 20px;
  width: 32px;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item {
  padding: 0 40px 0 30px;
  transition: all 0.3s linear;
  position: relative;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item + .nav-item {
  margin-top: 18px;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link {
  padding: 0;
  white-space: nowrap;
  font: 400 14px/16px "Roboto", sans-serif;
  color: var(--body-color);
  transition: color 0.2s linear;
  position: relative;
  display: inline-block;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link:after {
  display: none;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--blue-color);
  transition: all 0.2s linear;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link h5 {
  padding-top: 9px;
  margin-bottom: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.2s linear;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link p {
  margin-bottom: 0;
  line-height: 29px;
  font-size: 14px;
  padding-bottom: 0;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item:hover > .nav-link, .menu > .nav-item.submenu .dropdown-menu .nav-item:focus > .nav-link, .menu > .nav-item.submenu .dropdown-menu .nav-item.active > .nav-link {
  color: var(--blue-color);
}
.menu > .nav-item.submenu .dropdown-menu .nav-item:hover > .nav-link:before, .menu > .nav-item.submenu .dropdown-menu .nav-item:focus > .nav-link:before, .menu > .nav-item.submenu .dropdown-menu .nav-item.active > .nav-link:before {
  width: 100%;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item:hover > .nav-link h5, .menu > .nav-item.submenu .dropdown-menu .nav-item:focus > .nav-link h5, .menu > .nav-item.submenu .dropdown-menu .nav-item.active > .nav-link h5 {
  color: var(--blue-color);
}
.menu > .nav-item.submenu .dropdown-menu .nav-item:hover > i, .menu > .nav-item.submenu .dropdown-menu .nav-item:focus > i, .menu > .nav-item.submenu .dropdown-menu .nav-item.active > i {
  color: var(--blue-color);
}
.menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu {
  transition: all 0.3s ease-in;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu:before {
  display: none;
}
@media (min-width: 992px) {
  .menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu {
    position: absolute;
    left: 100%;
    top: -25px;
    opacity: 0;
    display: block;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease-in;
  }
}
.menu > .nav-item.active > i {
  color: var(--blue-color);
}
.menu > .nav-item.active .nav-link {
  color: var(--blue-color);
}
.menu > .nav-item.active .nav-link:before {
  transform: scaleX(1);
  opacity: 1;
  background: var(--blue-color);
}
.menu > .nav-item:hover > i {
  color: var(--blue-color);
}
.menu > .nav-item:hover .nav-link {
  color: var(--blue-color);
}
.menu > .nav-item:hover .nav-link:before {
  transform: scaleX(1);
  opacity: 1;
  background: var(--blue-color);
}
@media (min-width: 992px) {
  .menu > .nav-item:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .menu > .nav-item:hover .dropdown-menu > .nav-item:hover .dropdown-menu {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
}
.menu > .nav-item + .nav-item {
  margin-left: 55px;
}
.nav_btn {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 25px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid var(--white-color);
  transition: all 0.3s linear;
  margin-left: 80px;
  background: var(--white-color);
  color: var(--blue-color);
}
.nav_btn:hover {
  background: var(--blue-color);
  border-color: var(--blue-color);
  color: var(--white-color);
}
.nav_btn:hover i {
  color: var(--white-color);
}


.navbar_fixed {
  position: fixed;
}
.navbar_fixed.menu_one {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.2s, top 0.4s linear;
  margin-top: 0;
}
.navbar_fixed.menu_one .menu > .nav-item {
  padding-bottom: 25px;
  padding-top: 25px;
}
.navbar_fixed.menu_one .menu > .nav-item > .nav-link {
  color: #6b707f;
}
.navbar_fixed.menu_one .menu > .nav-item:hover > .nav-link, .navbar_fixed.menu_one .menu > .nav-item.active > .nav-link {
  color: var(--blue-color);
}
.navbar_fixed.menu_one .menu > .nav-item.submenu.mega_menu .dropdown-menu {
  border-top: 1px solid #e6eeef;
}
.navbar_fixed.menu_one .nav_btn {
  color: var(--blue-color);
  border: 2px solid #79ccde;
}
.navbar_fixed.menu_one .nav_btn:hover {
  background: var(--blue-color);
  color: #fff;
  border-color: var(--blue-color);
}
.navbar_fixed .sticky_logo img {
  display: none;
}
.navbar_fixed .sticky_logo img + img {
  display: block;
}
@media (min-width: 992px) {
  .navbar_fixed.menu_two .menu > .nav-item {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
.navbar_fixed.menu_two + div, .navbar_fixed.menu_two + section {
  margin-top: 86px;
}
.navbar_fixed .menu_toggle .hamburger span, .navbar_fixed .menu_toggle .hamburger-cross span {
  background: #1d2746;
}

.navbar-toggler {
  padding-right: 0;
  padding-left: 0;
}

.hamburger {
  height: 100%;
  width: 100%;
  display: block;
}
.hamburger span {
  width: 0%;
  height: 2px;
  position: relative;
  top: 0;
  left: 0;
  margin: 4px 0;
  display: block;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.hamburger span:nth-child(1) {
  transition-delay: 0s;
}
.hamburger span:nth-child(2) {
  transition-delay: 0.125s;
}
.hamburger span:nth-child(3) {
  transition-delay: 0.2s;
}

.menu_toggle {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: block;
}
.menu_toggle .hamburger {
  position: absolute;
}
.menu_toggle .hamburger-cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  display: block;
}
.menu_toggle .hamburger-cross span {
  display: block;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.menu_toggle .hamburger-cross span:nth-child(1) {
  height: 100%;
  width: 2px;
  position: absolute;
  top: 0;
  left: 10px;
  transition-delay: 0.3s;
}
.menu_toggle .hamburger-cross span:nth-child(2) {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 10px;
  transition-delay: 0.4s;
}

.collapsed .menu_toggle .hamburger span {
  width: 100%;
}
.collapsed .menu_toggle .hamburger span:nth-child(1) {
  transition-delay: 0.3s;
}
.collapsed .menu_toggle .hamburger span:nth-child(2) {
  transition-delay: 0.4s;
}
.collapsed .menu_toggle .hamburger span:nth-child(3) {
  transition-delay: 0.5s;
}
.collapsed .menu_toggle .hamburger-cross span:nth-child(1) {
  height: 0%;
  transition-delay: 0s;
}
.collapsed .menu_toggle .hamburger-cross span:nth-child(2) {
  width: 0%;
  transition-delay: 0.2s;
}



@media (max-width: 992px) {
  .menu-is-opened {
    overflow: hidden;
    height: 100%;
  }
  .menu-is-opened .click_capture {
    opacity: 1;
    visibility: visible;
  }
  .menu-is-opened .side_menu {
    transform: translate3d(0, 0, 0);
  }
}
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*=========== doc_banner_area_one css ============*/
.doc_banner_area_one {
  height: 550px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(60deg, #10b3d6 0%, #1d2746 100%);
  position: relative;
  overflow: hidden;
}
.doc_banner_area_one .star {
  z-index: -1;
}
.doc_banner_area_one .star_one {
  right: 170px;
  top: 50%;
  animation: star 9s both infinite alternate 5s;
}
.doc_banner_area_one .star_two {
  top: 33px;
  right: 147px;
  animation: star2 4s ease-in-out infinite alternate;
}
.doc_banner_area_one .star_three {
  top: 50px;
  left: 347px;
  animation: star 7s ease-in-out infinite alternate;
}
.doc_banner_area_one .one {
  bottom: 0;
  left: 300px;
}
.doc_banner_area_one .two {
  bottom: 0;
  right: 320px;
}
.doc_banner_area_one .three {
  bottom: 0;
  left: 520px;
}
.doc_banner_area_one .four {
  bottom: 0;
  left: 58%;
  margin-left: -20px;
}
.doc_banner_area_one .five {
  bottom: 155px;
  left: 74%;
  transform: translateX(-50%);
}

.bl_left {
  width: 150px;
  height: 145px;
  bottom: -7px;
  left: 20px;
  z-index: 1;
}

.bl_right {
  width: 135px;
  height: 110px;
  right: 30px;
  bottom: -7px;
  z-index: 1;
}

.dark {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  bottom: 0;
  z-index: -1;
}

.dark_two {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  bottom: 0;
  z-index: -1;
}

.star {
  top: 0;
  width: 100%;
  left: 0;
  z-index: 0;
  right: 0;
  height: auto;
}

.doc_banner_text {
  text-align: center;
}
.doc_banner_text h2,
.doc_banner_text p,
.doc_banner_text h6 {
  color: #fff;
}
.doc_banner_text h2 {
  font-size: 46px;
  margin-bottom: 14px;
}
.doc_banner_text p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: 300;
}
.doc_banner_text h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 40px;
}
.doc_banner_text h6 span {
  color: #e1e1e1;
  margin-right: 10px;
}
.doc_banner_text h6 a {
  color: #fff;
  margin-right: 10px;
  text-decoration: underline;
}
.doc_banner_text h6 a:last-child {
  margin-right: 0;
}
.doc_banner_text .banner_search_form {
  margin-top: 65px;
}
.b_plus,
.b_round,
.p_absolute {
  position: absolute;
}

.b_plus.one {
  left: 120px;
  top: 120px;
}
.b_plus.two {
  right: 25%;
  top: 210px;
}
.wave_shap_one,
.wave_shap_two {
  bottom: 0;
  z-index: 0;
}
.doc_features_area_one {
  position: relative;
  z-index: 1;
  padding: 100px 0 140px;
}
.doc_features_area_one:before {
  content: "";
  width: 100%;
  height: 460px;
  top: 0;
  left: 0;
  background: url("../img/home_banner/dow_bg.png") no-repeat scroll center top/cover;
  position: absolute;
  z-index: -1;
}
.ycp .belah .luhur span.about {
  display: none;
}
.ycp .belah .luhur {
  height: 74px;
}
.ycp .belah .luhur span.tombol {
  font-size: 14px;
}
.ycp .belah .luhur span.tombol.vid-next {
  float: right;
  margin-right: 0;
}
.doc_solution_area .all_doc_btn {
  padding: 20px 73px;
  font-size: 18px;
}
.doc_solution_area .all_doc_btn i {
  font-size: 25px;
  margin-left: 10px;
}
.animated-wave {
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* Fun Fact Style Two */
.active-animation .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 5s ease-in-out forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.overlay_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 19, 50, 0.8);
}
@keyframes wave2 {
  25% {
    transform-origin: 0 100%;
  }
  50% {
    transform: scale(1.8, 1.3);
  }
  75% {
    transform-origin: 100% 100%;
  }
  100% {
    transform: scale(1, 1.3);
  }
}
@keyframes wave4 {
  25% {
    transform: scaleY(0.9);
  }
  75% {
    transform: scaleY(1.1) scaleX(1.02);
  }
}
@keyframes star {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  75% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.01) rotate(-5deg);
    opacity: 1;
  }
}
@keyframes star2 {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: translateX(-10px) scale(0.9);
  }
  100% {
    transform: translateX(30px) scale(1.3) translateY(10px);
  }
}
@keyframes spin {
  0% {
    transform: translateX(-10px) scale(0.9);
  }
  100% {
    transform: translateX(30px) scale(1.3) translateY(10px);
  }
}
@-webkit-keyframes spin1 {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes spin1 {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes spin2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}
@keyframes spin2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}
@-webkit-keyframes pulse1 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4.5);
    border-radius: 50%;
  }
}
@keyframes pulse1 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4.5);
    border-radius: 50%;
  }
}
@keyframes customUp {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes clipInDown {
  0% {
    clip-path: polygon(-10% -10%, -10% -10%, 110% -10%, 110% -10%);
  }
  100% {
    clip-path: polygon(-10% 110%, -10% -10%, 110% -10%, 110% 110%);
  }
}
.clipInDown {
  animation-name: clipInDown;
}

/*================ preloader css ====================*/
#preloader {
  background: #fff;
  height: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#preloader .loading {
  display: flex;
}
#preloader .ctn-preloader {
  padding-left: 15px;
  padding-right: 15px;
}
#preloader .spinner {
  animation: spinner 3s infinite linear;
  border-radius: 50%;
  border: 3px solid #f1f6f8;
  border-left-color: #ff7810;
  border-top-color: #ff7810;
  margin: 0 auto 0em auto;
  position: absolute;
  left: -40px;
  right: -40px;
  bottom: -40px;
  top: -40px;
}
#preloader .spinner:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 6px solid #fff;
  box-shadow: 0 0 20px 0 rgba(4, 46, 56, 0.2);
  background: #ff7810;
  position: absolute;
  right: 31px;
  top: 41px;
  border-radius: 50%;
}
@media (max-width: 576px) {
  #preloader .spinner:before {
    top: 18px;
  }
}
#preloader .round_spinner {
  border-width: 1px;
  border-color: #eef3f4;
  border-style: solid;
  border-radius: 50%;
  background-color: #fdfdfd;
  box-shadow: 0 0 100px 0 rgba(4, 46, 56, 0.14);
  width: 248px;
  height: 248px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 40px auto 80px;
}
@media (max-width: 576px) {
  #preloader .round_spinner {
    width: 155px;
    height: 155px;
  }
}
#preloader .round_spinner h4 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
  color: #3e4890;
  margin-top: 10px;
}
#preloader .round_spinner h4 span {
  font-weight: 700;
}
#preloader .head {
  color: #3e4890;
  display: block;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 5.2px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 5% 0 1% 0;
  padding: 0;
}
#preloader p {
  color: #6b707f;
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
.full-width-doc .body_fixed .doc_rightsidebar, .full-width-doc .body_fixed .doc_left_sidebarlist {
  padding-top: 30px;
}
.nav-sidebar {
  margin-bottom: 0;
}
.nav-sidebar .nav-item {
  margin-bottom: 20px;
  padding-right: 35px;
  position: relative;
  cursor: pointer;
}
.nav-sidebar .nav-item .nav-link {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #1d2746;
  position: relative;
}
.nav-sidebar .nav-item .nav-link img {
  padding-right: 15px;
}
.nav-sidebar .nav-item .nav-link + .icon {
  font-size: 20px;
  color: #6b707f;
  float: right;
  position: absolute;
  right: 30px;
  top: -2px;
  transition: all 0.3s linear;
}
.nav-sidebar .nav-item:hover .nav-link, .nav-sidebar .nav-item.active .nav-link {
  color: var(--blue-color);
}
.nav-sidebar .nav-item:hover .icon, .nav-sidebar .nav-item.active .icon {
  color: var(--blue-color);
}
.nav-sidebar .nav-item.active .icon {
  transform: rotate(-180deg);
}
.nav-sidebar .nav-item .dropdown_nav {
  padding-left: 32px !important;
  margin-bottom: 0;
  padding-top: 12px;
  width: 100% !important;
  display: none;
}
.nav-sidebar .nav-item .dropdown_nav li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #6b707f;
  padding: 0;
}
.nav-sidebar .nav-item .dropdown_nav li a:hover, .nav-sidebar .nav-item .dropdown_nav li a.active {
  color: var(--blue-color);
}
.nav-sidebar .nav-item .dropdown_nav li a:hover i, .nav-sidebar .nav-item .dropdown_nav li a.active i {
  color: var(--blue-color);
}
.nav-sidebar + .nav-sidebar {
  border-top: 1px solid #e5e9eb;
  padding-top: 20px;
}

.coding_nav {
  padding-top: 15px;
  padding-bottom: 20px;
}

.bottom_nav .nav-item .nav-link i {
  position: relative;
  color: #1d2746;
  padding-left: 4px;
  transition: all 0.2s linear;
}
.bottom_nav .nav-item .nav-link:hover i {
  transform: translateX(5px);
}
.sticky-nav-doc #documentation {
  padding-top: 174px;
}
.link {
  background: #f1fdf3;
  padding: 14px 10px 14px 30px;
  border-radius: 4px;
}
.link p {
  position: relative;
  margin-bottom: 0;
  padding-left: 40px;
}
.link p:before {
  content: "R";
  position: absolute;
  font-family: eleganticons;
  left: 0;
  top: 4px;
  font-size: 24px;
  color: #10d631;
}

.test_version {
  padding-top: 45px;
}
.test_version p {
  font-size: 16px;
}
.test_version p span {
  color: #1d2746;
}
.developer {
  padding: 34px 0 20px;
}
.developer p a {
  color: var(--blue-color);
}
.developer .tag_list li {
  margin-top: 10px;
}
.developer .tag_list li i {
  padding-right: 10px;
}

.help_text {
  padding: 40px 0 0;
}
.help_text .help_info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
  margin-left: -30px;
  margin-right: -30px;
}
.help_text .help_info .help_item {
  width: 33.33%;
  margin-bottom: 15px;
  padding: 0 30px;
}
.help_text .help_info .help_item h4 {
  font-size: 16px;
  margin-bottom: 15px;
  transition: color 0.2s linear;
}
.help_text .help_info .help_item h4 i {
  font-size: 18px;
  top: 2px;
  position: relative;
}
.help_text .help_info .help_item h4:hover {
  color: var(--blue-color);
}

.code_structure {
  padding-top: 50px;
}
.code_structure .c_head {
  margin-bottom: 8px;
}

.feedback_link {
  align-items: center;
  padding-top: 30px;
}
.feedback_link h6 {
  font-weight: 500;
  font-size: 16px;
  color: #6b707f;
  margin-bottom: 0;
}
.feedback_link h6 a {
  color: var(--blue-color);
}
.feedback_link h6 i {
  padding-right: 8px;
}
.feedback_link p {
  margin-bottom: 0;
  text-align: right;
}
.feedback_link .h_btn {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #6b707f;
  display: inline-block;
  padding: 1px 14px 0;
  background-color: white;
  box-shadow: 0 3px 8px 0 rgba(2, 48, 58, 0.14);
  transition: all 0.2s linear;
  margin-left: 8px;
}
.feedback_link .h_btn:hover {
  color: var(--blue-color);
}
/*========== doc_rightsidebar css ============*/
.mCSB_scrollTools {
  width: 0;
}
.full-width-doc .doc_rightsidebar {
  padding-right: 15px;
}
.full-width-doc .doc_rightsidebar .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 225px;
}
.doc_menu .nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  color: #6b707f;
}
.doc_menu .nav-link.active, .doc_menu .nav-link:hover {
  color: #1d2746;
}
.doc_menu .nav-link.active {
  font-weight: 500;
}
.doc_menu .nav {
  padding-left: 20px;
}
.doc_menu .nav .nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

/*=============== doc_documentation_full_area css =========*/
.full-width-doc .doc_left_sidebarlist {
  margin-right: 0;
  padding-left: 0;
}
.full-width-doc.body_fixed .doc_left_sidebarlist {
  width: 287px;
}
.full-width-doc .documentation_info {
  padding-left: 35px;
  padding-right: 35px;
}
.full-width-doc .doc_rightsidebar {
  margin-left: 0;
}

.sticky_menu .doc_documentation_area.body_fixed .doc_left_sidebarlist, .sticky_menu .doc_documentation_area.body_fixed .doc_rightsidebar {
  top: 78px;
}

.resource .c_head {
  margin-bottom: 5px;
}
.resource .tag_list {
  padding-top: 0;
}
.resource .tag_list li {
  margin-top: 4px;
}
.resource .tag_list li a {
  display: inline-block;
  font-weight: 500;
}



.vjs-iframe-blocker {
  display: none;
}

/*============ Sticky Nav doc css ================*/
.sticky-nav-doc:not(.onepage-doc) .body_fixed .doc_rightsidebar, .sticky-nav-doc:not(.onepage-doc) .body_fixed .doc_left_sidebarlist {
  padding-top: 100px;
}
.sticky-nav-doc .body_fixed.body_navbar_fixed .doc_left_sidebarlist, .sticky-nav-doc .body_fixed.body_navbar_fixed .doc_rightsidebar {
  padding-top: 30px;
}

.doc_rightsidebar .bootstrap-select > .dropdown-menu {
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  background: #fff;
  border: 0;
}
.doc_rightsidebar .bootstrap-select > .dropdown-menu .inner .dropdown-menu {
  border: 0;
}
.doc_rightsidebar .bootstrap-select > .dropdown-menu .inner .dropdown-menu li a {
  color: #6b707f;
  position: relative;
  font-size: 14px;
}
.doc_rightsidebar .bootstrap-select > .dropdown-menu .inner .dropdown-menu li a:before {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue-color);
  transition: all 0.2s linear;
}
.doc_rightsidebar .bootstrap-select > .dropdown-menu .inner .dropdown-menu li a i {
  padding-right: 8px;
}
.doc_rightsidebar .bootstrap-select > .dropdown-menu .inner .dropdown-menu li a.active, .doc_rightsidebar .bootstrap-select > .dropdown-menu .inner .dropdown-menu li a:hover {
  background: #f6f6f6;
  color: var(--blue-color);
}
.doc_rightsidebar .bootstrap-select > .dropdown-menu .inner .dropdown-menu li a.active:before, .doc_rightsidebar .bootstrap-select > .dropdown-menu .inner .dropdown-menu li a:hover:before {
  height: 100%;
}
.doc_rightsidebar .doc_switch {
  padding-top: 20px;
  margin-left: -40px;
  margin-top: 10px;
  padding-left: 40px;
}
body:not(.onepage-doc) .body_fixed #font-switcher {
  width: 204px;
}
.status-chart {
  padding: 62px 0 112px;
}
.status-chart .section_title {
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .canvas {
    height: 100vh;
    width: 100vw;
  }
}
.light-header {
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .light-header {
    bottom: -10px;
  }
}
.light-header .title-light {
  color: #eff4f7;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
@media (max-width: 768px) {
  .light-header .title-light {
    font-size: 30px;
    bottom: -10px;
  }
}


.bb-radius {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.06);
}

.button-container .all_doc_btn {
  margin-top: 40px;
}

@keyframes slideDown {
  0% {
    transform: translate3d(0, 15px, 0);
  }
  100% {
    transform: translate3d(0, 23px, 0);
  }
}

button.mfp-close {
  font-size: 30px;
  color: #6b707f;
  right: 10px;
  top: 5px;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
  padding: 0;
}

.mfp-with-zoom .mfp-container {
  transform: scale(0);
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
  transform: scale(1);
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 1;
}

.mfp-figure:after {
  background-color: #eceff4;
  box-shadow: 0 20px 80px 0 rgba(4, 73, 89, 0.12);
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/** === List Style === **/
ul.ordered-list li::before {
  content: "h";
  font-family: "ElegantIcons";
  font-size: 10px;
}

.ordered-list {
  position: relative;
  list-style: none;
  padding-left: 20px;
  margin: 20px 0;
}
.ordered-list::before {
  content: "";
  position: absolute;
  left: 32px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #c4cdd5;
}
.ordered-list li {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 16px 0;
  position: relative;
  padding-left: 35px;
  counter-increment: a;
}
.ordered-list li::before {
  content: counter(a);
  position: absolute;
  color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 12px;
  background-color: var(--blue-color);
  text-align: center;
  line-height: 23px;
  top: -4px;
  left: -4px;
  border: 5px solid #fff;
}
.typography_preview {
  margin-top: 30px;
}

.typography_underline h4 {
  margin-bottom: 35px;
}
.button_inner {
  margin-top: 60px;
}
.button_inner h4 {
  margin-bottom: 50px;
  padding-top: 30px;
}
.button_inner h6 {
  color: #6b707f;
  font-weight: 400;
}
.button_inner .button_inner_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 50px;
  border-bottom: 1px solid #e6eeef;
}
.button_inner:last-child .button_inner_one {
  border: 0;
  padding-bottom: 0;
}

.btn_small {
  padding: 0 16px;
}

.btn_small_two {
  padding: 8px 29px;
}
.btn_bg {
  padding: 15px 78px;
}

.btn_radious_none {
  border-radius: 0;
  padding: 10px 68px;
}

.btn_radious_45 {
  border-radius: 45px;
  padding: 5px 28px;
}

.action_btn.btn_small, .action_btn.btn_small_two, .action_btn.btn_small_three, .action_btn.btn_bg, .action_btn.btn_radious_none, .action_btn.btn_radious_45 {
  box-shadow: none;
  border: 2px solid var(--blue-color);
  transition: all 0.3s linear;
}
.action_btn.btn_small:hover, .action_btn.btn_small_two:hover, .action_btn.btn_small_three:hover, .action_btn.btn_bg:hover, .action_btn.btn_radious_none:hover, .action_btn.btn_radious_45:hover {
  background: #f8fdfe;
  border-color: #79ccde;
  color: var(--blue-color);
}
ul.forum-titles {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}
ul.forum-titles li {
  text-align: right;
  font-size: 14px;
}
ul.forum-titles .forum-topic-count, ul.forum-titles .forum-reply-count {
  flex-basis: 25%;
}
ul.forum-titles .forum-freshness {
  flex-basis: 50%;
}
ul.forum-titles .forum-freshness .freshness-box {
  display: flex;
  font-size: 14px;
  line-height: 1.3;
  flex-direction: column;
}
ul.forum-titles .forum-freshness .freshness-box a {
  color: #6b707f;
}
ul.forum-titles .forum-freshness .freshness-box a:hover {
  color: var(--blue-color);
}
ul.forum-titles .forum-freshness .freshness-box .freshness-btm {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  align-items: center;
}
ul.forum-titles .forum-freshness .freshness-box .freshness-btm a.bbp-author-link {
  padding-right: 10px;
}
ul.forum-titles .forum-freshness .freshness-box .freshness-btm .bbp-author-avatar img {
  max-width: 30px;
  border-radius: 50%;
}
.w_tag_list.style-light li a {
  background: #f0f2f5;
}
.w_tag_list.style-light li a:hover {
  background: #e1f3f7;
  color: var(--blue-color);
  box-shadow: none;
}

.usefull-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.usefull-links li {
  padding: 7px 0;
}
.usefull-links li i {
  margin-right: 10px;
}
.usefull-links li a {
  color: #6b707f;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}
.usefull-links li a:hover {
  color: var(--blue-color);
}


.action-button-container {
  display: flex;
  justify-content: flex-end;
}
.action-button-container.action-btns {
  justify-content: flex-start;
  margin-top: 30px;
}
.action-button-container.action-btns .action_btn {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 0 15px;
  font-weight: 400;
}
.action-button-container .ask-btn {
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 28px;
  margin-top: 2px;
}
.action-button-container .ask-btn:hover {
  background: #16c9f0;
}
.action-button-container .reply-btn {
  margin-right: 10px;
}
.action-button-container .too-btn {
  background: #fff;
  border: 1px solid #d0d8dc;
  color: #1d2746;
}
.action-button-container .too-btn:hover {
  background: #fff;
  border: 1px solid #1d2746;
  color: #1d2746;
}
.question-icon {
  font-size: 50px;
  color: #1d2746;
  margin-right: 15px;
  font-weight: 600;
}
.b_title {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  transition: all 0.2s linear;
}
.b_title:hover {
  color: var(--blue-color);
}
.comment_inner {
  padding-top: 80px;
}
/*============ keyframes animation  =============*/
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
.widget .c_head {
  margin-bottom: 35px;
}
.widget + .widget {
  margin-top: 53px;
}
.widget > ul.list-unstyled {
  margin-top: -10px;
}
/*========== Start footer_area css ==========*/
.footer_area {
  padding-top: 50px;
  position: relative;
  z-index: 1;
}
.footer_area .leaf {
  right: 20px;
  bottom: 0;
  width: 180px;
  z-index: -1;
}
.footer_area .f_man {
  right: 200px;
  bottom: 130px;
}
.footer_area .f_man_two {
  bottom: 0;
  left: 20px;
}
.footer_area .f_cloud {
  bottom: 410px;
  left: 150px;
}
.footer_area .f_email {
  left: 75px;
  bottom: 290px;
}
.footer_area .f_email_two {
  bottom: 230px;
  left: 180px;
}

.footer_p_top {
  padding-top: 225px;
}

.footer_top .border_bottom {
  margin-top: 10px;
}

.border_bottom {
  width: 100%;
  height: 1px;
  background: #e8f0f1;
}

.f_widget .f_title {
  font-size: 18px;
  margin-bottom: 30px;
}
.f_widget.subscribe_widget {
  padding-right: 40px;
}
.f_widget.subscribe_widget .f_logo {
  display: inline-block;
  margin-bottom: 32px;
}
.f_widget.link_widget .link_list {
  margin-bottom: 0;
}
.f_widget.link_widget .link_list li a {
  color: #6b707f;
  font-size: 16px;
}
.f_widget.link_widget .link_list li a:hover {
  color: var(--blue-color);
}
.f_widget.link_widget .link_list li + li {
  margin-top: 15px;
}

.footer_subscribe_form {
  position: relative;
}
.footer_subscribe_form .form-control {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 20px 30px 0 rgba(4, 73, 89, 0.08);
  height: 56px;
  border: 1px solid transparent;
  color: #1d2746;
  padding-left: 25px;
  position: relative;
  transition: all 0.2s linear;
}
.footer_subscribe_form .form-control.placeholder {
  color: #878b99;
}
.footer_subscribe_form .form-control:-moz-placeholder {
  color: #878b99;
}
.footer_subscribe_form .form-control::-moz-placeholder {
  color: #878b99;
}
.footer_subscribe_form .form-control::-webkit-input-placeholder {
  color: #878b99;
}
.footer_subscribe_form .form-control:focus {
  outline: none;
}
.footer_subscribe_form .s_btn {
  border: 0;
  font-size: 16px;
  font-weight: 400;
  background: var(--blue-color);
  border-radius: 4px;
  color: #fff;
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  padding: 7px 22px;
}

.f_social_icon {
  padding-top: 10px;
}
.f_social_icon li {
  display: inline-block;
}
.f_social_icon li a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid #79ccde;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  display: block;
  color: var(--blue-color);
  margin-right: 6px;
}
.f_social_icon li a:hover {
  background: var(--blue-color);
  border-color: var(--blue-color);
  box-shadow: 0 10px 20px 0 rgba(12, 118, 142, 0.2);
  color: #fff;
}

.footer_bottom {
  padding: 38px 0 66px;
  position: relative;
  z-index: 1;
}
.footer_bottom p {
  margin-bottom: 0;
  font-size: 16px;
  color: #6b707f;
}
.footer_bottom p a {
  color: var(--blue-color);
}
.pl_30 {
  padding-left: 30px;
}
.pl_70 {
  padding-left: 70px;
}
.simple_footer {
  padding: 30px 0;
  position: relative;
  z-index: 1;
  background: #1d2746;
}
.simple_footer .row {
  align-items: center;
}
.simple_footer .leaf_right {
  position: absolute;
  right: 170px;
  bottom: 0;
  z-index: -1;
}
.simple_footer p {
  margin-bottom: 0;
  font-size: 16px;
  color: #a4a8b4;
}
.simple_footer p a {
  color: var(--blue-color);
}
.simple_footer .f_social_icon {
  margin-bottom: 0;
  padding-top: 0;
}
.simple_footer .f_social_icon li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #8d93a4;
  border-color: #8d93a4;
}
.simple_footer .f_social_icon li a:hover {
  background: var(--blue-color);
  border-color: var(--blue-color);
  color: #fff;
}
